* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #262626;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Utility Classes */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  padding: 10px;
  color: #262626;
}
a:hover {
  cursor: pointer;
}
hr {
  border: 0.1px solid #c2d9f3;
  height: 1px;
}
.text-small {
  font-size: 0.7rem;
}
.text-normal {
  font-size: 1rem;
}
.text-medium {
  font-size: 1.4rem;
}
.text-bold {
  font-weight: bold;
  padding: 10px 0;
}
.text-center {
  text-align: center;
}
.text-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #10005f;
}
.text-cancel {
  text-decoration: line-through;
  font-size: 0.8rem;
}
.text-price {
  color: #990011ff;
}
.text-total-price {
  font-weight: bold;
}
/* ################## Universal Classess ############################ */
/* Container class */
.container {
  width: 90%;
  margin: auto;
}
.container-small {
  width: 480px;
  height: 100vh;
  padding: 0px 20px;
}
/* Wrapper Class */
.wrapper {
  padding: 30px 60px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Display Classes >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flex-1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.flex-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Header */

/* Deals Styles */
.deals {
  background-color: #10005f;
  color: #eeeeee;
  min-height: 30px;
  padding: 0.5rem;
  text-align: center;
}
/* Navbar */
.navbar {
  padding: 30px 60px;
}
.navbar a {
  color: #262626;
}
.navbar form {
  border-bottom: 0.5px solid gray;
  border-radius: 10px;
}
.navbar input {
  padding: 5px;
  width: 120px;
  border: 0;
}
.navbar button {
  padding: 5px 10px;
  background-color: #0d98ba;
  color: #eeeeee;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}
.navbar img {
  width: 190px;
}
.menu-top a:hover {
  text-decoration: underline;
}
.menu-main {
  border-bottom: 1px solid gray;
}
.menu-main a:hover {
  background-color: #0d98ba;
  color: #ffffff;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main Section Classes >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.main {
  display: grid;
  grid-template-columns: 1fr 7fr 6fr;
  gap: 20px;
  padding: 30px 60px;
}
.main .left-side img {
  padding: 5px 0;
}
.main .middle-side {
  background-color: #eeeeee;
}
.main .middle-side img {
  width: 100%;
}
.main .right {
  line-height: 1.5rem;
}
.description h2 {
  padding-bottom: 10px;
}
p.star {
  padding: 10px;
}
p.free-shipping {
  padding: 10px;
}
span.free-shipping {
  color: #990011ff;
  text-transform: uppercase;
}
p.price {
  padding: 10px;
}
span.price-new {
  color: #990011ff;
}
span.price-old {
  text-decoration: line-through;
  font-size: 0.7rem;
  font-weight: lighter;
}
.chose-color {
  padding: 10px;
}
.chose-color p {
  font-size: 0.7rem;
}
span.color {
  font-weight: bold;
}
.chose-color input {
  margin: 5px 0;
}
.size-chart {
  margin-top: 5px;
  padding: 5px;
}
.size-chart a {
  margin-left: 10px;
  padding: 0 10px;
  text-decoration: underline;
}
.size-chart p {
  padding: 5px 0;
  font-size: 0.7rem;
}
.size-chart .sizes {
  margin: 5px 0;
  margin: 5px 0;
  cursor: pointer;
}

.size-chart .sizes span {
  display: inline-block;
  width: 35px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: #eeeeee;
}
.size-chart .sizes span:hover {
  background-color: #0d98ba;
  color: #eeeeee;
}
.size-chart .sizes span:active {
  background-color: darkblue;
}
.quantity {
  margin: 10px 0;
  padding: 10px;
}
.quantity span {
  border-radius: 50%;
  border: 1px solid blue;
  display: inline-block;
  padding: 0 5px;
  font-size: 1.5rem;
}
.quantity input {
  height: 35px;
  width: 40px;
  padding: 5px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
/* Add to Cart */
.add-to-cart {
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: darkblue;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}
.buy-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid lightblue;
  margin: 10px 0;
  padding: 10px;
}
.buy-online span:nth-child(2) {
  font-size: 0.7rem;
  padding: 5px 0;
}
p.delivery {
  display: inline-block;
  margin-left: 50px;
  padding: 20px 0;
}
.payment {
  margin: auto;
  padding: 0 10px;
  text-align: center;
}
.payment img {
  width: 50px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Product Features >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.product-features {
  background-color: #eeeeee;
  padding: 30px 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Cart Page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cart-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  padding: 30px 60px;
}
.cat-my-bag {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 50px 0;
}
.cart-shopping-bag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}
.cart-shopping-bag p,
.wishlist {
  display: inline-block;
  padding: 10px 0;
}
.cat-wishlist {
  padding: 50px 0;
}
.cart-main-right img {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Checkout Page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.checkout-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  padding: 30px 60px;
}
.checkout-bag {
  display: flex;
  justify-content: space-between;
  margin: 20 0px;
  padding: 10 0px;
}
.checkout-items {
  display: flex;
  flex-direction: column;
  margin: 20 0px;
  padding: 10 0px;
}
.order-summary {
  border: 1px solid gray;
}
.order-summary h2 {
  background-color: indigo;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
}
.order-summary p {
  display: inline-block;
  padding: 5px 10px;
}
.coupon-code form {
  padding: 10px;
}
.coupon-code input {
  padding: 10px;
}
.coupon-code input[type="submit"] {
  background-color: indigo;
  color: #ffffff;
}
.checkout {
  padding: 10px;
}
.checkout button {
  background-color: #990011ff;
  color: #ffffff;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
}
.checkout button a {
  color: #ffffff;
}
.paywith-paypal,
.paywith-amazon {
  padding: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Added to Cart Page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.added-to-cart h3 {
  background-color: #10005f;
  color: #ffffff;
  padding: 20px 20px 20px 60px;
  display: flex;
  justify-content: space-between;
}
.added-to-cart h3 a {
  color: #eeeeee;
  padding: 0;
}
.added-to-cart-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  margin: 10px 0;
  padding: 20px;
}
.added-to-cart-main img {
  width: 100%;
}
.product-description {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
.additional-item {
  margin: 10px 0;
  margin: 10px 0;
  padding: 20px 10px;
  background-color: #eeeeee;
  text-align: center;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.additional-item a {
  padding: 0;
}
.cart-subtotal {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}
.success {
  display: flex;
  flex-direction: column;
}
.btn-success {
  background-color: green;
  height: 10px;
  margin: 5px 0;
  padding: 5px 0;
}
a.checkout {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  background-color: #10005f;
  color: #ffffff;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}
.continue-shopping {
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
  text-transform: uppercase;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.footer {
  line-height: 1.5;
}
.footer a {
  padding: 10px 0;
}
.footer a:hover {
  text-decoration: underline;
  color: #0d98ba;
}

.footer-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  padding: 30px 60px;
}
.footer-main-left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-main-right {
  display: flex;
  flex-direction: column;
}
.footer-main-right p {
  padding: 10px 0;
}
.footer-main-right input {
  padding: 10px;
  border-radius: 5px;
}
.footer-main-right button {
  padding: 11px;
  margin: 0;
  background-color: #0d98ba;
  border: none;

  text-transform: uppercase;
  color: #ffffff;
}
.footer-follow {
  padding: 30px 60px;
  margin: 60px 0;
}
.footer-follow p {
  padding: 20px 0;
}
.footer-follow .social-icons .fa {
  padding: 10px 20px 10px 0;
  font-size: 3rem;
}
.footer-copy {
  background-color: #eeeeee;
  padding: 30px 60px;
}
.footer-copy p {
  padding: 10px;
  text-align: center;
}
